.App {
  text-align: center;
  background-color: #2E3440 !important;
  color: white;
  height: 100vh;
}

.Nav {
  background-color: #2E3440 !important;
}

.navCard {
  height: 45vh !important;
  width: 60vw !important;
  background-color: #3B4252 !important;
  margin: auto;
}

.signIn {
  width: 100vw;
}

.cardTitle {
  margin-top: 10vh !important;
}

.createAcc {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: none;
}

.createAcc:hover {
  color: #a0a3a9;
}

.header{
  align-items: left;
}

/* BASE STYLES */
:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #3B4252;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2E3440 !important;
}

.container {
  /* width: 80%; */
  /* height: 700px; */
  margin: 0 auto;
  /* border: 10px solid var(--clr-dark); */
}

.item {
  width: 300px;
  height: 150px;
  background-color: #4C566A;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: 3px solid var(--clr-accent);
  border-radius: 10px;
}

/* END OF BASE STYLES */
.container {
  display: flex;
  
}
