.App {
  text-align: center;
  background-color: #2E3440 !important;
  color: white;
  height: 100vh;
}

.Nav {
  background-color: #2E3440 !important;
}

.navCard {
  height: 45vh !important;
  width: 60vw !important;
  background-color: #3B4252 !important;
  margin: auto;
}

.signIn {
  width: 100vw;
}

.cardTitle {
  margin-top: 10vh !important;
}

.createAcc {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: none;
}

.createAcc:hover {
  color: #a0a3a9;
}